
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      transition: background-color 0.3s, color 0.3s;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    header h1 {
      margin: 0;
    }

    #title.typing::after {
      content: '|';
      animation: blink 1s infinite;
    }

    @keyframes blink {
      0%, 50%, 100% { opacity: 1; }
      25%, 75% { opacity: 0; }
    }

    main {
      padding: 20px;
      max-width: 900px;
      margin: auto;
    }

    section {
      background-color: #f7f7f7;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-top: 0;
    }

    .project a {
      text-decoration: none;
      color: #337ab7;
    }

    .project a:hover {
      color: #23527c;
    }

    footer, .footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    #datetime {
      font-size: 14px;
      color: #ccc;
    }

    #dark-mode-toggle {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      margin: 20px auto;
      display: block;
    }

    #dark-mode-toggle:hover {
      background-color: #555;
    }

    .dark-mode {
      background-color: #121212;
      color: #fff;
    }

    .dark-mode section {
      background-color: #1e1e1e;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      background-color: #337ab7;
      color: white;
      border: none;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #23527c;
    }